%div.Change_Password_Form
  %h1 Change Password
  = form_tag change_password_path, :method => :post do
    %p New Password:
    = password_field_tag 'password'

    %p Insert new password again
    = password_field_tag 'password_confirmation'

    = submit_tag 'Change Password'
