.change-nickname
  .row.change-nickname.title
    .h1 CHANGE USERNAME
  .wrapper.change-nickname
    .row.change-nickname.data
      .col-md-4.change-nickname
        = form_tag change_nickname_path, :method => :post do
          .ul.change-nickname
            .li.change-nickname
              New Nickname:
              = text_field_tag 'nickname'
            .li.change-nickname
              = submit_tag("Save")
