.change-email
  .row.change-email.title
    .h1 CHANGE EMAIL
  .wrapper.change-email
    .row.change-email.data
      .col-md-4.change-email
        = form_tag change_email_path, :method => :post do
          .ul.change-email
            .li.change-email
              New Email
              = email_field_tag 'email'
            .li.change-email
              = submit_tag("Save")
