%h1 Upload Hike Photo
= form_tag hike_photo_upload_setup_path, :mulitpart => true, :method => :put do

  %p Hike image
  = file_field :hike, :hike_image, accept: 'image/jpeg,image/gif,image/png'

  = submit_tag 'Create hike'
