@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  margin-left: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.navbar{
}

.nav.navbar-nav.navbar-right{
  margin-right: 3px;
}

.search-field{
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container-fluid{
  display: flex; /* or inline-flex */
  flex-direction: row;
}

.container-fluid.profile-top {
  justify-content: center;
}

.container-fluid.profile-nickname {
  justify-content: center;
}



.container-fluid.profile-personal-info{
  justify-content: center;
}


.container-fluid.profile-bottom {
  justify-content: center;
}


.col-sm{
  flex-direction: column;
  flex-grow: 1;
}
