@import "bootstrap-sprockets";
@import "bootstrap";

#notice {
  background: green;
  margin: 1em 0;
  padding: 4px;
  color: white;
  text-align: center;
}

#warning {
  background: red;
  color: white;
  margin: 1em 0;
  padding: 4px;
  text-align: center;
}

body {
  padding-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.navbar{
}

.nav.navbar-nav.navbar-right{
  margin-right: 3px;
}

.search-field{
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container.hikes{
  margin-left: 10px;
  margin-right: 10px
}

.container-fluid{
  display: flex; /* or inline-flex */
  flex-direction: row;
}

.container-fluid.profile-top {
  justify-content: center;
}

.container-fluid.profile-nickname {
  justify-content: center;
}



.container-fluid.profile-personal-info{
  justify-content: center;
}


.container-fluid.profile-bottom {
  justify-content: center;
}


.col-sm{
  flex-direction: column;
  flex-grow: 1;
}

.row.hike-content{
  display: flex;
  justify-content: center;
  border-color: black;
  border-style: groove;
  border-radius: 30px;
  background-color: forestgreen;
}
.row.hike-title{
  display: flex;
  justify-content: center;
  border-color: black;
  border-style: groove;
  //border-radius: 30px;
  background-color: white;
}

.col-md-3{
  display: flex;
  flex-direction: column;
  
  height: 400px;
  border-color: black;
  border-style: groove;
  background-color: white;

}

.col-md-5.hike-photo{
  display: flex;
  justify-content: center;
  height: 400px;
  border-color: black;
  border-style: groove;
  background-color: white;

}

.feed{
 margin-left: 300px;
 margin-right: 300px;
}

.hike-info-brief{

}

.row.hike-info{
  display: flex;
  justify-content: center;
  height: 30px;
  width: 300px;
  border-style: groove;
  border-radius: 20px;
  background-color: silver;
}
